schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="catalog">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="brands" type="BrandList"/>
            <xs:element name="products" type="ProductInventory"/>
        </xs:sequence>
    </xs:complexType>

    <xs:key name="pkBrand">
        <xs:selector xpath="brands/brand"/>
        <xs:field xpath="."/>
    </xs:key>
    <xs:keyref name="fkBrandProduct" refer="pkBrand">
        <xs:selector xpath="products/product"/>
        <xs:field xpath="brand"/>
    </xs:keyref>
</xs:element>

<xs:complexType name="BrandList">
    <xs:sequence>
        <xs:element name="brand" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="ProductInventory">
    <xs:sequence>
        <xs:element name="product" type="baseItemType" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="baseItemType">
    <xs:sequence>
        <xs:element name="colors" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="color" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="image" minOccurs="0">
            <xs:complexType>
                <xs:attribute name="src" type="xs:ENTITY" use="required"/>
            </xs:complexType>
        </xs:element>
        <xs:element name="name" type="xs:string" minOccurs="0"/>
        <xs:element name="brand" type="xs:string" minOccurs="0"/>
        <xs:element name="model" type="xs:string" minOccurs="0"/>
        <xs:element name="price" type="MoneyType" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType name="MoneyType">
    <xs:simpleContent>
        <xs:extension base="xs:decimal">
            <xs:attribute name="currency" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="BGN"/>
                        <xs:enumeration value="EUR"/>
                        <xs:enumeration value="USD"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>

<xs:simpleType name="ConnectionEnum">
    <xs:restriction base="xs:string">
        <xs:enumeration value="wired"/>
        <xs:enumeration value="wireless"/>
        <xs:enumeration value="bluetooth"/>
        <xs:enumeration value="embedded"/>
    </xs:restriction>
</xs:simpleType>

<xs:complexType name="keyboardType">
    <xs:complexContent>
        <xs:extension base="baseItemType">
            <xs:sequence>
                <xs:element name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="mechanical"/>
                            <xs:enumeration value="membrane"/>
                            <xs:enumeration value="optical"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="full-sized" type="xs:boolean"/>
                <xs:element name="connectivity" type="ConnectionEnum"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

<xs:complexType name="mouseType">
    <xs:complexContent>
        <xs:extension base="baseItemType">
            <xs:sequence>
                <xs:element name="dpi" type="xs:positiveInteger"/>
                <xs:element name="buttons" type="xs:positiveInteger"/>
                <xs:element name="connectivity" type="ConnectionEnum"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

<xs:complexType name="laptopType">
    <xs:complexContent>
        <xs:extension base="baseItemType">
            <xs:sequence>
                <xs:element name="os" type="xs:string"/>
                <xs:element name="processor" type="xs:string"/>
                <xs:element name="ram" type="xs:positiveInteger"/>
                <xs:element name="storage">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:positiveInteger">
                                <xs:attribute name="unit" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="GB"/>
                                            <xs:enumeration value="TB"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="mouse" type="mouseType" minOccurs="0"/>
                <xs:element name="keyboard" type="keyboardType" minOccurs="0"/>
                <xs:element name="display" type="displayType" minOccurs="0"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

<xs:complexType name="desktopType">
    <xs:complexContent>
        <xs:extension base="laptopType"/>
    </xs:complexContent>
</xs:complexType>

<xs:complexType name="displayType">
    <xs:complexContent>
        <xs:extension base="baseItemType">
            <xs:sequence>
                <xs:element name="resolution" type="xs:string"/>
                <xs:element name="refreshRate" type="xs:positiveInteger"/>
                <xs:element name="diagonalSize" type="xs:decimal"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

</xs:schema>